.nav-link {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: rgb(26, 26, 26);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #9DDD8F ;
    border-bottom: 3px solid #58864e;
    border-radius: 0;
}
/* .carousel-item img{
    max-width: ;
} */

.navbar-brand{
    color: #9DDD8F;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Splash', cursive;
}